@font-face {
  font-family: "BNazanin";
  src: url('fonts/BYekan/BYekan.eot?1315566024');
  src: url('fonts/BYekan/BYekan.eot?&1315566024#iefix') format('embedded-opentype'), url('fonts/BYekan/BYekan.woff?1315561604') format('woff'), url('fonts/BYekan/BYekan.ttf?1315561590') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[data-role] {
  direction: rtl;
}

body, input, select, textarea, button, .ui-btn {
  font-family: BNazanin,san-serif;
  font-size: 20px;
}

.ui-mini {
  font-size: 12.5px;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none;
}

.ui-input-text, .ui-input-search {
  border-radius: 5px;
}

.ui-input-text input, .ui-input-search input {
  text-align: right;
  direction: rtl;
}

.ui-loader {
  background: transparent;
  border: none;
  opacity: 0.5;
}

/*
.ui-btn-icon-right {
    padding-right: 1em;
}
*/
.ui-state-disabled {
  opacity: 1;
  background-color: #cfd8dc !important;
}

.ui-input-text.error {
  background-color: #FFC8C8;
  border-color: #EA2727;
  color: #FF0027;
}

.ui-input-text.ui-focus {
  -moz-box-shadow: 0 0 12px #F55400;
  -webkit-box-shadow: 0 0 12px #F55400;
  box-shadow: 0 0 12px #F55400;
}

.ui-shadow-inset.error {
  -moz-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.3);
}

.ui-focus.error {
  -moz-box-shadow: 0 0 12px #EA2727;
  -webkit-box-shadow: 0 0 12px #EA2727;
  box-shadow: 0 0 12px #EA2727;
}

.text-error {
  color: #DA0000;
}

.mainPage .top-text {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.mainPage .top-text img {
  width: 55px;
  vertical-align: middle;
  margin: 0 3px -3px;
}
.mainPage .ui-input-text {
  position: relative;
}
.mainPage .text-error {
  display: none;
}

#mainFirstPage .ui-input-text:before {
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  content: "09";
  line-height: 46px;
}

#mainFirstPage .ui-input-text.no-label:before {
  display: none;
}

#mainFirstPage .ui-input-text input, #mainFirstPage .ui-input-search input {
  padding-left: 30px;
}

#mainSecondPage form {
  margin-top: 20px;
}
#mainSecondPage .ui-btn {
  padding: 0.7em 0;
  font-size: 18px;
}

#mainThirdPage form {
  margin-top: 20px;
}
#mainThirdPage .ui-btn {
  padding: 0.7em 0;
  font-size: 18px;
}

#mainFourthPage .forgot-link {
  font-size: 12px;
  padding: 0.8em 0;
}

#forgotPassFirstPage form {
  margin-top: 20px;
}

#forgotPassSecondPage form {
  margin-top: 20px;
}
#forgotPassSecondPage .ui-btn {
  padding: 0.7em 0;
  font-size: 18px;
}
